.corgi{
	padding-left: 45%;
}

.corgi span{
	color: green; /*màu xanh lá*/
}

.corgi span i{
	color: purple; /*màu tím*/
}

.corgi h2{
	color: #444; /*màu xám*/
	font-family: sans-serif;
}

.corgi img{
	width: 300px;
	height: 300px;
}
